# シリーズについて

In [2]:
import pandas as pd

In [5]:
#シリーズの作成方法
s1 = pd.Series([90,78,65,87,72])
s1

0    90
1    78
2    65
3    87
4    72
dtype: int64

In [7]:
#リストを変数に代入
data = [90,78,65,87,82]

In [8]:
s1 = pd.Series(data)
s1

0    90
1    78
2    65
3    87
4    82
dtype: int64

In [9]:
#numpyを使ってシリーズを作る
import numpy as np

In [10]:
#1から増やして10になるまで2を足す（奇数）の配列を作る
np.arange(1,10,2)

array([1, 3, 5, 7, 9])

In [13]:
s2 = pd.Series(np.arange(1,10,2))
s2

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [14]:
#data型に代入
data = np.arange(1,10,2)

In [15]:
s2 = pd.Series(data)
s2

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [16]:
#データを取得
s1

0    90
1    78
2    65
3    87
4    82
dtype: int64

In [17]:
s1.dtypes

dtype('int64')

In [18]:
#indexを取得
s1.index

RangeIndex(start=0, stop=5, step=1)

In [19]:
#indexを変更
s1.index = ['sato','suzuki','takahashi','tanaka','ito']
s1

sato         90
suzuki       78
takahashi    65
tanaka       87
ito          82
dtype: int64

In [20]:
s1.index

Index(['sato', 'suzuki', 'takahashi', 'tanaka', 'ito'], dtype='object')

In [21]:
#辞書型を使ってシリーズを作成
dict01 = {'sato':90,'suzuki':78,'takahashi':65,'tanaka':87,'ito':72}

In [22]:
s3 = pd.Series(dict01)
s3

sato         90
suzuki       78
takahashi    65
tanaka       87
ito          72
dtype: int64

In [23]:
#値取得
s1.values

array([90, 78, 65, 87, 82])

In [24]:
#インデックスを指定して値を取得
s1['suzuki']

np.int64(78)

In [27]:
#インデックス番号を指定して値を取得　
s1[0]

/var/folders/m1/jcwwylfj5z7d_zdkcry0_4r40000gn/T/ipykernel_66361/95736118.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[0]

np.int64(90)

In [28]:
#リストでインデックスを指定して値を取得
s1[['suzuki','tanaka']]

suzuki    78
tanaka    87
dtype: int64

In [29]:
s1[[1,3]]

/var/folders/m1/jcwwylfj5z7d_zdkcry0_4r40000gn/T/ipykernel_66361/2196441385.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[[1,3]]

suzuki    78
tanaka    87
dtype: int64

In [30]:
#比較演算子
s1 > 80

sato          True
suzuki       False
takahashi    False
tanaka        True
ito           True
dtype: bool

In [33]:
s1[s1 >= 80]

sato      90
tanaka    87
ito       82
dtype: int64

In [34]:
#要素数
s1.size

5

In [36]:
#要素数
len(s1)

5

In [37]:
#indexとデータ部分に名前をつける
s1.index.name = 'member'
s1.name = 'score'
s1

member
sato         90
suzuki       78
takahashi    65
tanaka       87
ito          82
Name: score, dtype: int64

In [38]:
#四則演算
s1 + 2

member
sato         92
suzuki       80
takahashi    67
tanaka       89
ito          84
Name: score, dtype: int64

In [ ]:
# 同じindex名同士の四則演算

In [39]:
s2

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [40]:
s2.index = ['suzuki','takahashi','tanaka','ito','watanabe']
s2

suzuki       1
takahashi    3
tanaka       5
ito          7
watanabe     9
dtype: int64

In [41]:
s1

member
sato         90
suzuki       78
takahashi    65
tanaka       87
ito          82
Name: score, dtype: int64

In [42]:
s1 + s2

ito          89.0
sato          NaN
suzuki       79.0
takahashi    68.0
tanaka       92.0
watanabe      NaN
dtype: float64

In [ ]:
#欠損値（Nan)の確認

In [43]:
s1

member
sato         90
suzuki       78
takahashi    65
tanaka       87
ito          82
Name: score, dtype: int64

In [44]:
s1.hasnans

False

In [45]:
s4 = pd.Series([90.78,65,None,72])
s4

0    90.78
1    65.00
2      NaN
3    72.00
dtype: float64

In [46]:
s4.hasnans

True

In [47]:
pd.isnull(s4)

0    False
1    False
2     True
3    False
dtype: bool

In [51]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],
                  columns=['col01','col02','col03'],
                  index=['idx01','idx02','idx03'])
df

       col01  col02  col03
idx01      1      2      3
idx02      4      5      6
idx03      7      8      9

In [52]:
#データフレームから列を取り出したもの　→ フレーム
df['col01']

idx01    1
idx02    4
idx03    7
Name: col01, dtype: int64

In [53]:
#data型がシリーズになっていることを確認
type(df['col01'])

pandas.core.series.Series

In [54]:
#シリーズをデータフレームに追加
s5 = pd.Series({'idx01':10, 'idx02':11, 'idx03':12})
s5

idx01    10
idx02    11
idx03    12
dtype: int64

In [56]:
df['col04'] = s5
df

       col01  col02  col03  col04
idx01      1      2      3     10
idx02      4      5      6     11
idx03      7      8      9     12

In [58]:
#index名の異なるものを代入するとどうなるのかの確認
s6 = pd.Series({'idx03':13,'idx04':14,'idx05':15})
s6

idx03    13
idx04    14
idx05    15
dtype: int64

In [59]:
df['col05'] = s6
df

       col01  col02  col03  col04  col05
idx01      1      2      3     10    NaN
idx02      4      5      6     11    NaN
idx03      7      8      9     12   13.0

In [60]:
#時系列データの作成
dates = pd.date_range('2000/01/01',periods = 5, freq = 'D')
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05'],
              dtype='datetime64[ns]', freq='D')

In [61]:
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [62]:
s1

member
sato         90
suzuki       78
takahashi    65
tanaka       87
ito          82
Name: score, dtype: int64

In [64]:
#s1のindexを時系列データにする
s1.index = dates
s1

2000-01-01    90
2000-01-02    78
2000-01-03    65
2000-01-04    87
2000-01-05    82
Freq: D, Name: score, dtype: int64