In [1]:
import pandas as pd

In [2]:
#表示する行数を設定
pd.set_option('display.max_rows',10)

In [3]:
#同じ階層にあるcsvファイルを読み取る
df_csv = pd.read_csv('data.csv',encoding = 'shift-jis')
df_csv

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
0          1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
1          2   青森県  大正    9.0  1920.0   756454   381293   375161
2          3   岩手県  大正    9.0  1920.0   845540   421069   424471
3          4   宮城県  大正    9.0  1920.0   961768   485309   476459
4          5   秋田県  大正    9.0  1920.0   898537   453682   444855
..       ...   ...  ..    ...     ...      ...      ...      ...
934       43   熊本県  平成   27.0  2015.0  1786170   841046   945124
935       44   大分県  平成   27.0  2015.0  1166338   551932   614406
936       45   宮崎県  平成   27.0  2015.0  1104069   519242   584827
937       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
938       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[939 rows x 8 columns]

In [4]:
#カラム名の追加
df_csv = pd.read_csv('data.csv',encoding = 'shift-jis',names = ['area_code','aera','GG','gg','yyyy','population','man','woman'])
df_csv

    area_code   aera  GG     gg    yyyy population      man    woman
0     都道府県コード  都道府県名  元号  和暦（年）   西暦（年）     人口（総数）    人口（男）    人口（女）
1          01    北海道  大正    9.0  1920.0    2359183  1244322  1114861
2          02    青森県  大正    9.0  1920.0     756454   381293   375161
3          03    岩手県  大正    9.0  1920.0     845540   421069   424471
4          04    宮城県  大正    9.0  1920.0     961768   485309   476459
..        ...    ...  ..    ...     ...        ...      ...      ...
935        43    熊本県  平成   27.0  2015.0    1786170   841046   945124
936        44    大分県  平成   27.0  2015.0    1166338   551932   614406
937        45    宮崎県  平成   27.0  2015.0    1104069   519242   584827
938        46   鹿児島県  平成   27.0  2015.0    1648177   773061   875116
939        47    沖縄県  平成   27.0  2015.0    1433566   704619   728947

[940 rows x 8 columns]

In [5]:
#都道府県をindex名に指定
df_csv = pd.read_csv('data.csv',encoding = 'shift-jis',index_col = 1)
df_csv

       都道府県コード  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
都道府県名
北海道          1  大正    9.0  1920.0  2359183  1244322  1114861
青森県          2  大正    9.0  1920.0   756454   381293   375161
岩手県          3  大正    9.0  1920.0   845540   421069   424471
宮城県          4  大正    9.0  1920.0   961768   485309   476459
秋田県          5  大正    9.0  1920.0   898537   453682   444855
...        ...  ..    ...     ...      ...      ...      ...
熊本県         43  平成   27.0  2015.0  1786170   841046   945124
大分県         44  平成   27.0  2015.0  1166338   551932   614406
宮崎県         45  平成   27.0  2015.0  1104069   519242   584827
鹿児島県        46  平成   27.0  2015.0  1648177   773061   875116
沖縄県         47  平成   27.0  2015.0  1433566   704619   728947

[939 rows x 7 columns]

In [6]:
df_csv = pd.read_csv('data.csv',encoding = 'shift-jis',index_col = [0,1,2,3,4])
df_csv.head()

                                人口（総数）    人口（男）    人口（女）
都道府県コード 都道府県名 元号 和暦（年） 西暦（年）
1       北海道   大正 9.0   1920.0  2359183  1244322  1114861
2       青森県   大正 9.0   1920.0   756454   381293   375161
3       岩手県   大正 9.0   1920.0   845540   421069   424471
4       宮城県   大正 9.0   1920.0   961768   485309   476459
5       秋田県   大正 9.0   1920.0   898537   453682   444855

In [7]:
#データ型の確認
type(df_csv.index)

pandas.core.indexes.multi.MultiIndex

In [8]:
df_csv.dtypes

人口（総数）    int64
人口（男）     int64
人口（女）     int64
dtype: object

In [9]:
#csvファイルに書き出す
df_csv.to_csv('data_csv.csv',encoding = 'shift-jis')

In [10]:
#Excelファイルの読み込み
pd.read_excel('data.xlsx')

     都道府県コード 都道府県名  元号  和暦（年）  西暦（年）   人口（総数）    人口（男）    人口（女）
0          1   北海道  大正      9   1920  2359183  1244322  1114861
1          2   青森県  大正      9   1920   756454   381293   375161
2          3   岩手県  大正      9   1920   845540   421069   424471
3          4   宮城県  大正      9   1920   961768   485309   476459
4          5   秋田県  大正      9   1920   898537   453682   444855
..       ...   ...  ..    ...    ...      ...      ...      ...
934       43   熊本県  平成     27   2015  1786170   841046   945124
935       44   大分県  平成     27   2015  1166338   551932   614406
936       45   宮崎県  平成     27   2015  1104069   519242   584827
937       46  鹿児島県  平成     27   2015  1648177   773061   875116
938       47   沖縄県  平成     27   2015  1433566   704619   728947

[939 rows x 8 columns]

In [11]:
#行をスキップして読みこむ
pd.read_excel('data01.xlsx',skiprows = 2)

     都道府県コード 都道府県名  元号  和暦（年）  西暦（年）   人口（総数）    人口（男）    人口（女）
0          1   北海道  大正      9   1920  2359183  1244322  1114861
1          2   青森県  大正      9   1920   756454   381293   375161
2          3   岩手県  大正      9   1920   845540   421069   424471
3          4   宮城県  大正      9   1920   961768   485309   476459
4          5   秋田県  大正      9   1920   898537   453682   444855
..       ...   ...  ..    ...    ...      ...      ...      ...
934       43   熊本県  平成     27   2015  1786170   841046   945124
935       44   大分県  平成     27   2015  1166338   551932   614406
936       45   宮崎県  平成     27   2015  1104069   519242   584827
937       46  鹿児島県  平成     27   2015  1648177   773061   875116
938       47   沖縄県  平成     27   2015  1433566   704619   728947

[939 rows x 8 columns]

In [14]:
#1行目をカラム名にする
pd.read_excel('data01.xlsx',skiprows = 2,header = [1])

      1   北海道  大正   9  1920  2359183  1244322  1114861
0     2   青森県  大正   9  1920   756454   381293   375161
1     3   岩手県  大正   9  1920   845540   421069   424471
2     4   宮城県  大正   9  1920   961768   485309   476459
3     5   秋田県  大正   9  1920   898537   453682   444855
4     6   山形県  大正   9  1920   968925   478328   490597
..   ..   ...  ..  ..   ...      ...      ...      ...
933  43   熊本県  平成  27  2015  1786170   841046   945124
934  44   大分県  平成  27  2015  1166338   551932   614406
935  45   宮崎県  平成  27  2015  1104069   519242   584827
936  46  鹿児島県  平成  27  2015  1648177   773061   875116
937  47   沖縄県  平成  27  2015  1433566   704619   728947

[938 rows x 8 columns]

In [16]:
#ヘッダーがない時自動でカラム名をふる
pd.read_excel('data02.xlsx',header = None)

      0     1   2   3     4        5        6        7
0     1   北海道  大正   9  1920  2359183  1244322  1114861
1     2   青森県  大正   9  1920   756454   381293   375161
2     3   岩手県  大正   9  1920   845540   421069   424471
3     4   宮城県  大正   9  1920   961768   485309   476459
4     5   秋田県  大正   9  1920   898537   453682   444855
..   ..   ...  ..  ..   ...      ...      ...      ...
934  43   熊本県  平成  27  2015  1786170   841046   945124
935  44   大分県  平成  27  2015  1166338   551932   614406
936  45   宮崎県  平成  27  2015  1104069   519242   584827
937  46  鹿児島県  平成  27  2015  1648177   773061   875116
938  47   沖縄県  平成  27  2015  1433566   704619   728947

[939 rows x 8 columns]

In [17]:
pd.read_excel('data03.xlsx',header = [0,1])

             地域      羽田                 成田                 千歳
            年月日 平均気温(℃) 降水量の合計(mm) 平均気温(℃) 降水量の合計(mm) 平均気温(℃) 降水量の合計(mm)
0      2019/1/1     6.8        0.0     2.0        0.0    -4.7        0.0
1      2019/1/2     7.3        0.0     3.9        0.0    -6.9        0.0
2      2019/1/3     6.1        0.0     2.3        0.0    -7.4        0.0
3      2019/1/4     6.5        0.0     2.2        0.0    -2.6        0.0
4      2019/1/5     8.3        0.0     6.2        0.0    -3.3        4.5
..          ...     ...        ...     ...        ...     ...        ...
361  2019/12/28     7.9        0.0     4.6        0.0    -6.4        0.0
362  2019/12/29     8.2        0.0     5.3        0.0    -7.2        0.0
363  2019/12/30     8.3        0.0     5.2        8.0    -0.6        9.5
364  2019/12/31     9.2        0.0     8.4        0.0    -0.4        2.0
365    2020/1/1     6.7        0.0     2.9        0.0    -5.4        0.0

[366 rows x 7 columns]

In [20]:
#１列目をindexにする
pd.read_excel('data.xlsx',index_col = 0)

        都道府県名  元号  和暦（年）  西暦（年）   人口（総数）    人口（男）    人口（女）
都道府県コード
1         北海道  大正      9   1920  2359183  1244322  1114861
2         青森県  大正      9   1920   756454   381293   375161
3         岩手県  大正      9   1920   845540   421069   424471
4         宮城県  大正      9   1920   961768   485309   476459
5         秋田県  大正      9   1920   898537   453682   444855
...       ...  ..    ...    ...      ...      ...      ...
43        熊本県  平成     27   2015  1786170   841046   945124
44        大分県  平成     27   2015  1166338   551932   614406
45        宮崎県  平成     27   2015  1104069   519242   584827
46       鹿児島県  平成     27   2015  1648177   773061   875116
47        沖縄県  平成     27   2015  1433566   704619   728947

[939 rows x 7 columns]

In [21]:
pd.read_excel('data.xlsx',index_col = '都道府県コード')

        都道府県名  元号  和暦（年）  西暦（年）   人口（総数）    人口（男）    人口（女）
都道府県コード
1         北海道  大正      9   1920  2359183  1244322  1114861
2         青森県  大正      9   1920   756454   381293   375161
3         岩手県  大正      9   1920   845540   421069   424471
4         宮城県  大正      9   1920   961768   485309   476459
5         秋田県  大正      9   1920   898537   453682   444855
...       ...  ..    ...    ...      ...      ...      ...
43        熊本県  平成     27   2015  1786170   841046   945124
44        大分県  平成     27   2015  1166338   551932   614406
45        宮崎県  平成     27   2015  1104069   519242   584827
46       鹿児島県  平成     27   2015  1648177   773061   875116
47        沖縄県  平成     27   2015  1433566   704619   728947

[939 rows x 7 columns]

In [23]:
df_excel = pd.read_excel('data03.xlsx')
df_excel

             地域       羽田        羽田.1       成田        成田.1       千歳        千歳.1
0           年月日  平均気温(℃)  降水量の合計(mm)  平均気温(℃)  降水量の合計(mm)  平均気温(℃)  降水量の合計(mm)
1      2019/1/1      6.8           0        2           0     -4.7           0
2      2019/1/2      7.3           0      3.9           0     -6.9           0
3      2019/1/3      6.1           0      2.3           0     -7.4           0
4      2019/1/4      6.5           0      2.2           0     -2.6           0
..          ...      ...         ...      ...         ...      ...         ...
362  2019/12/28      7.9           0      4.6           0     -6.4           0
363  2019/12/29      8.2           0      5.3           0     -7.2           0
364  2019/12/30      8.3           0      5.2           8     -0.6         9.5
365  2019/12/31      9.2           0      8.4           0     -0.4           2
366    2020/1/1      6.7           0      2.9           0     -5.4           0

[367 rows x 7 columns]

In [24]:
df_excel = pd.read_excel('data03.xlsx',skiprows = 1, index_col = '年月日')
df_excel

,平均気温(℃),降水量の合計(mm),平均気温(℃).1,降水量の合計(mm).1,平均気温(℃).2,降水量の合計(mm).2
年月日,,,,,,
2019/1/1,6.8,0.0,2.0,0.0,-4.7,0.0
2019/1/2,7.3,0.0,3.9,0.0,-6.9,0.0
2019/1/3,6.1,0.0,2.3,0.0,-7.4,0.0
2019/1/4,6.5,0.0,2.2,0.0,-2.6,0.0
2019/1/5,8.3,0.0,6.2,0.0,-3.3,4.5
...,...,...,...,...,...,...
2019/12/28,7.9,0.0,4.6,0.0,-6.4,0.0
2019/12/29,8.2,0.0,5.3,0.0,-7.2,0.0
2019/12/30,8.3,0.0,5.2,8.0,-0.6,9.5
2019/12/31,9.2,0.0,8.4,0.0,-0.4,2.0
2020/1/1,6.7,0.0,2.9,0.0,-5.4,0.0

In [25]:
type(df_excel.index)

pandas.core.indexes.base.Index

In [28]:
#年月日の列を日付型として読みこむ
df_excel = pd.read_excel('data03.xlsx',skiprows = 1, index_col = '年月日', parse_dates = True)
df_excel

,平均気温(℃),降水量の合計(mm),平均気温(℃).1,降水量の合計(mm).1,平均気温(℃).2,降水量の合計(mm).2
年月日,,,,,,
2019-01-01,6.8,0.0,2.0,0.0,-4.7,0.0
2019-01-02,7.3,0.0,3.9,0.0,-6.9,0.0
2019-01-03,6.1,0.0,2.3,0.0,-7.4,0.0
2019-01-04,6.5,0.0,2.2,0.0,-2.6,0.0
2019-01-05,8.3,0.0,6.2,0.0,-3.3,4.5
...,...,...,...,...,...,...
2019-12-28,7.9,0.0,4.6,0.0,-6.4,0.0
2019-12-29,8.2,0.0,5.3,0.0,-7.2,0.0
2019-12-30,8.3,0.0,5.2,8.0,-0.6,9.5
2019-12-31,9.2,0.0,8.4,0.0,-0.4,2.0
2020-01-01,6.7,0.0,2.9,0.0,-5.4,0.0

In [29]:
type(df_excel.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [31]:
#データフレームをエクセルデータとして読みこむ
df_excel.to_excel('df_excel.xlsx')

In [32]:
#クリップボードのデータを書き込み
#data.csvをコピーしてから実装
#操作は以下の通りに行なった
#data.xlsxの1から11行目をコピー
#その後以下の関数を実行
df_cb = pd.read_clipboard()

In [33]:
df_cb

   都道府県コード 都道府県名  元号  和暦（年）  西暦（年）   人口（総数）    人口（男）    人口（女）
0        1   北海道  大正      9   1920  2359183  1244322  1114861
1        2   青森県  大正      9   1920   756454   381293   375161
2        3   岩手県  大正      9   1920   845540   421069   424471
3        4   宮城県  大正      9   1920   961768   485309   476459
4        5   秋田県  大正      9   1920   898537   453682   444855
5        6   山形県  大正      9   1920   968925   478328   490597
6        7   福島県  大正      9   1920  1362750   673525   689225
7        8   茨城県  大正      9   1920  1350400   662128   688272
8        9   栃木県  大正      9   1920  1046479   514255   532224
9       10   群馬県  大正      9   1920  1052610   514106   538504

In [34]:
#pythonとデータフレームを接続する(ここではsqliteと接続)
import sqlite3

In [35]:
df_csv = pd.read_csv('data.csv',encoding = 'shift-jis')
df_csv

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
0          1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
1          2   青森県  大正    9.0  1920.0   756454   381293   375161
2          3   岩手県  大正    9.0  1920.0   845540   421069   424471
3          4   宮城県  大正    9.0  1920.0   961768   485309   476459
4          5   秋田県  大正    9.0  1920.0   898537   453682   444855
..       ...   ...  ..    ...     ...      ...      ...      ...
934       43   熊本県  平成   27.0  2015.0  1786170   841046   945124
935       44   大分県  平成   27.0  2015.0  1166338   551932   614406
936       45   宮崎県  平成   27.0  2015.0  1104069   519242   584827
937       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
938       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[939 rows x 8 columns]

In [36]:
#データベースの作成
dbname = 'TEST.db'
#コネクションオブジェクト作成（よくわからん）
conn = sqlite3.connect(dbname)
#データベースの接続を解除
conn.close()

In [37]:
#データフレームをデータベースのテーブルに作成
#if_existsは現在テーブルがある場合どのように操作するのかを決める
#append...テーブルに追加　　　replace...テーブルを削除してから新規で作成  fail...エラーを発生させる
conn = sqlite3.connect(dbname)
df_csv.to_sql('test_table',conn,if_exists = 'replace')
conn.close

In [38]:
#実際作成されたかどうかデータを読み込んで確認してみる
conn = sqlite3.connect(dbname)
#SELECT * FROM test_tableはSQL文
df_db = pd.read_sql('SELECT * FROM test_table', conn)
conn.close()

In [39]:
df_db

     index  都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
0        0        1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
1        1        2   青森県  大正    9.0  1920.0   756454   381293   375161
2        2        3   岩手県  大正    9.0  1920.0   845540   421069   424471
3        3        4   宮城県  大正    9.0  1920.0   961768   485309   476459
4        4        5   秋田県  大正    9.0  1920.0   898537   453682   444855
..     ...      ...   ...  ..    ...     ...      ...      ...      ...
934    934       43   熊本県  平成   27.0  2015.0  1786170   841046   945124
935    935       44   大分県  平成   27.0  2015.0  1166338   551932   614406
936    936       45   宮崎県  平成   27.0  2015.0  1104069   519242   584827
937    937       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
938    938       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[939 rows x 9 columns]

In [45]:
#SQL文を以下に記述して東京都のみを抽出
sql = '''
select *
from test_table
where 都道府県名 == "東京都"
'''

In [46]:
#上のデータをread_sqlに渡す
conn = sqlite3.connect(dbname)
df_db = pd.read_sql(sql, conn)
conn.close()

In [47]:
df_db

    index  都道府県コード 都道府県名  元号  和暦（年）   西暦（年）    人口（総数）    人口（男）    人口（女）
0      12       13   東京都  大正    9.0  1920.0   3699428  1952989  1746439
1      59       13   東京都  大正   14.0  1925.0   4485144  2387609  2097535
2     106       13   東京都  昭和    5.0  1930.0   5408678  2855323  2553355
3     153       13   東京都  昭和   10.0  1935.0   6369919  3325696  3044223
4     200       13   東京都  昭和   15.0  1940.0   7354971  3795875  3559096
..    ...      ...   ...  ..    ...     ...       ...      ...      ...
15    716       13   東京都  平成    7.0  1995.0  11773605  5892704  5880901
16    763       13   東京都  平成   12.0  2000.0  12064101  6028562  6035539
17    810       13   東京都  平成   17.0  2005.0  12576601  6264895  6311706
18    857       13   東京都  平成   22.0  2010.0  13159388  6512110  6647278
19    904       13   東京都  平成   27.0  2015.0  13515271  6666690  6848581

[20 rows x 9 columns]

In [48]:
#大量データの扱い方
conn = sqlite3.connect(dbname)

for i in range(1000):
    df_csv.to_sql('test_table_1000',conn,if_exists = 'append')

conn.close()
#このコードを行うと1000*100=100万行のデータができるが、パソコンに負荷がかかるので実行しません！

In [79]:
#SQL文で東京都の中で1920年のデータのみ抽出する
sql = '''
select *
from test_table_1000
where 都道府県名 = "東京都" and "西暦（年）" = "1920.0"
'''

In [80]:
conn = sqlite3.connect(dbname)
df_db = pd.read_sql(sql, conn)
conn.close()

In [81]:
df_db

     index  都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
0       12       13   東京都  大正    9.0  1920.0  3699428  1952989  1746439
1       12       13   東京都  大正    9.0  1920.0  3699428  1952989  1746439
2       12       13   東京都  大正    9.0  1920.0  3699428  1952989  1746439
3       12       13   東京都  大正    9.0  1920.0  3699428  1952989  1746439
4       12       13   東京都  大正    9.0  1920.0  3699428  1952989  1746439
..     ...      ...   ...  ..    ...     ...      ...      ...      ...
995     12       13   東京都  大正    9.0  1920.0  3699428  1952989  1746439
996     12       13   東京都  大正    9.0  1920.0  3699428  1952989  1746439
997     12       13   東京都  大正    9.0  1920.0  3699428  1952989  1746439
998     12       13   東京都  大正    9.0  1920.0  3699428  1952989  1746439
999     12       13   東京都  大正    9.0  1920.0  3699428  1952989  1746439

[1000 rows x 9 columns]